@import './base.css';

#app {
 
}

a,
.green {
  text-decoration: none;
  color: #1199BB;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #1199BB;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    
  }
}
