@import './base.css';

#app {
  background-image: url('src/assets/priscilla.jpg');
  background-position: center;
  background-attachment: fixed;
}

a,
.green {
  text-decoration: none;
  color: #1199BB;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(17, 153, 187, 0.5);
  }
}



  

