@import './base.css';


.main {
  flex:auto;
  padding: 20px;
  background-image: url('../src/assets/BlauwAchtergrondGrayscale.png');
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0,0,150,0.3);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (hover: hover) {
  a:hover {
    background-color: rgba(17, 153, 187, 0.5);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #ffffff;
  padding: 10px;
  padding-left: 20px;

}


.footer {
  background-color: #ffffff;
  padding: 20px;

  flex-direction: column;
  align-items: center;
  display: flex;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  
}

.nav {
  background-color: var(--vt-c-white);
  padding: 5px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
  

